<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Console name="SimpleStdOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
        <File name="File" fileName="logs/logs.log">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg (%F:%L)%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.solvd.navigator.Main" level="info" additivity="false">
            <AppenderRef ref="SimpleStdOut"/>
        </Logger>
        <Logger name="com.solvd.navigator.BaseDataLoader" level="info" additivity="false">
            <AppenderRef ref="SimpleStdOut"/>
        </Logger>
        <Logger name="com.solvd.navigator.servicetwo.impl.OrderListenerImpl" level="info" additivity="false">
            <AppenderRef ref="SimpleStdOut"/>
        </Logger>
        <Logger name="com.solvd.navigator.servicetwo.impl.DriverServiceImpl" level="info" additivity="false">
            <AppenderRef ref="SimpleStdOut"/>
        </Logger>
        <Logger name="com.solvd.navigator.util.DriverUtils" level="info" additivity="false">
            <AppenderRef ref="SimpleStdOut"/>
        </Logger>
        <Logger name="com.solvd.navigator.util.DriverThreadRunnable" level="info" additivity="false">
            <AppenderRef ref="SimpleStdOut"/>
        </Logger>
        <Logger name="com.solvd.navigator.util.DriverConnectionPool" level="info" additivity="false">
            <AppenderRef ref="SimpleStdOut"/>
        </Logger>
        <Logger name="com.solvd.navigator.math.util.RouteUtils" level="info" additivity="false">
            <AppenderRef ref="SimpleStdOut"/>
        </Logger>
        <Logger name="com.solvd.navigator.util.ScannerUtils" level="info" additivity="false">
            <AppenderRef ref="SimpleStdOut"/>
        </Logger>
        <Logger name="com.solvd.navigator.service" level="info" additivity="false">
            <AppenderRef ref="SimpleStdOut"/>
        </Logger>
        <Logger name="com.solvd.navigator" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <!--  Debugging MyBatis      -->
        <!--        <Logger name="org.apache.ibatis" level="debug">-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--            <AppenderRef ref="File"/>-->
        <!--        </Logger>-->
        <!--        <Logger name="java.sql" level="debug">-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--            <AppenderRef ref="File"/>-->
        <!--        </Logger>-->
    </Loggers>
</Configuration>
